.footer {
  padding: 50px 15px;
  text-align: center;
}

.footer__list-container {
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding-left: 0px;
}

.footer__list {
  padding: 0;
  margin: 0 auto;
}

.footer__link {
  display: inline-block;
  padding: 10px;
  font-size: 1.25em;
}

.footer__link-anchor {
  display: block;
  color: #74808a;
  padding: 10px;
}

.footer__center {
  width: 3%;
}

.footer__arrow {
  border-radius: 50%;
  border: 3px solid #b9bfc4;
  color: #74808a;
  padding-top: 0px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.copyright {
  color: #74808a;
}

/* Medium size screen */
@media (min-width: 768px){
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .footer__list-container {
    margin: 0px;
    flex: 1;
  }

  .footer__arrow {
    flex: 1;
  }

  .copyright {
    flex: 1;
  }
}